<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Benefits Of Quitting Smoking</title>
</head>
<body>
  <div class="d-flex justify-content-evenly">
    <form action='/history' class="d-flex justify-content-end">
        <button class="btn btn-primary"><strong>History</strong></button>
    </form>
    <form action='/dashboard' class="d-flex justify-content-end">
        <button class="btn btn-success"><strong>Dashboard</strong></button>
    </form>
    <form action="/risks" class="d-flex justify-content-end">
        <button class="btn btn-danger"><strong>Risks</strong></button>
    </form>
    <form action="/logout" class="d-flex justify-content-end">
        <button class="btn btn-warning"><strong>Logout</strong></button>
    </form>
</div>
    <h1 class="d-flex mx-auto col-12 text-center justify-content-center">Benefits Of Quitting</h1>
    <br>
    <h3 class="d-flex mx-auto col-12 text-center justify-content-center">-Immediate & Long-Term Benefits-</h3>
    <h3 class="d-flex mx-auto col-12 text-center justify-content-center">-After Quitting Smoking-</h2>
      <br>
      <br>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="d-flex mx-auto col-12 text-center justify-content-center">20 Mins After:</h5>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p><strong>20 Mins After:</strong> The quickest benefit to happen within 20 mins after your last cigarette is smoked, the heart rate drops to normal.  As well as the blood pressure begins to drop and circulation may improve</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5 class="d-flex mx-auto col-12 text-center justify-content-center">12 Hours:</h5>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p><strong>After 12 Hours:</strong> 
                    The body starts to cleanse itself of the excess carbon monoxide from smoking. Which will increase the bodys oxygen levels</p>
                  </div>
                </div>
              </div>
              
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5 class="d-flex mx-auto col-12 text-center justify-content-center">After 1 Day</h5>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p><strong>After 1 Day:</strong> The risk of a heart-attack begins to decrease. Blood pressure drops decreasing the risk of heart disease. In a short time a person oxygen levels will rise and make physical excersize easier to do.</p>
                  </div>
                </div>
              </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <h5 class="d-flex mx-auto col-12 text-center justify-content-center">After 2 Days</h5>
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p><strong>After 2 Days:</strong> Smoking damages the nerves associated with smell and taste.  After quitting the smell and taste sensations should be hightened, from the nerves healing</p>
                    </div>
                  </div>
                </div>
                <br>
                <h5 class="d-flex mx-auto col-12 text-center justify-content-center text-danger"> Warning: Withdrawal Symptoms Typically Around Day 3</h5>
                <br>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <h5 class="d-flex mx-auto col-12 text-center justify-content-center">After 3 Days</h5>
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p><strong>After 3 Days:</strong> Withdrawal might start to set in due to the having no nictoine in your system. Symptoms include moodiness, irritability, headaches, along with cravings.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      <h5 class="d-flex mx-auto col-12 text-center justify-content-center">After 1-3 Months</h5>
                    </button>
                  </h2>
                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p><strong>After 1-3 Months:</strong> The lungs are starting to heal, improving lung capactiy. Former smokers may notice less coughing and a hightened ability for excersize</p>
                    </div>
                  </div>
                </div>
              </div>
              <br>
                <p class="d-flex mx-auto col-12 text-center justify-content-center"><strong>There Are Too Many Benefits To List All</strong></p>
                <p class="d-flex mx-auto col-12 text-center justify-content-center"><strong>View Your Money Savings In The Dashboard By Viewing Your Info!</strong></p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>