<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Risks Of Smoking</title>
</head>
<body>
        <h1 class="text-center">Risks Of Smoking</h1>
        <br>
        <img class = "d-flex mx-auto align-items-center col-6" src="/static/risks.jpg" alt="a single cigarette pretruding from the pack">
        <p class = "d-flex justify-content-center text-center"> The most common side-effects of smoking cigarettes are lung, throat, and mouth cancer. While these are very horrible side effects there are many aspects smokers havent taken into consideration, such as the cost...</p>
        <ul class = "list-group-horizontal d-flex justify-content-center text-center mx-auto list-unstyled col-12">
            <li class="flex-fill p-2">-Mood Stimulation</li>
            <li class="flex-fill p-2">-Early Menopause (F)</li>
            <li class="flex-fill p-2">-Anxiety & Irritability</li>
        </ul> 
        <ul class="list-group-horizontal d-flex justify-content-between text-center mx-auto list-unstyled col-12">
            <li class="flex-fill p-2">-Poor Vision</li>
            <li class="flex-fill p-2">-Smelly Hair</li>
            <li class="flex-fill p-2">-Unhealthy Teeth</li>
        </ul> 
        <ul class="list-group-horizontal d-flex justify-content-between text-center mx-auto list-unstyled col-12">
            <li class="flex-fill p-2">-Dulling Smell</li>
            <li class="flex-fill p-2">-Dulling Taste</li>
            <li class="flex-fill p-2">-Bronchitis</li>
        </ul> 
        <ul class="list-group-horizontal d-flex justify-content-between text-center mx-auto list-unstyled col-12">
            <li class="flex-fill p-2">-Smokers Cough</li>
            <li class="flex-fill p-2">-High Cholesterol</li>
            <li class="flex-fill p-2">-Weakend Immune System</li>
        </ul> 
        <ul class="list-group-horizontal d-flex justify-content-between text-center mx-auto list-unstyled col-12">
            <li class="flex-fill p-2">-Infertility (F)</li>
            <li class="flex-fill p-2">-Cervical Cancer (F)</li>
            <li class="flex-fill p-2">-Erectile Dysfunction (M)</li>
        </ul> 
        <ul class="list-group-horizontal d-flex justify-content-between text-center mx-auto list-unstyled col-12">
            <li class="flex-fill p-2">-Diabetes</li>
            <li class="flex-fill p-2">-Blood Cancer</li>
            <li class="flex-fill p-2">-Pregnancy Problems</li>
        </ul> 
        <div class="d-flex justify-content-center">
            <a href = "/dashboard" class="btn btn-primary mt-2 w-20">Continue</a>
        </div>
</body>
</html>